@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.services-child,
.services-item {
  position: absolute;
  top: 379px;
  left: 91px;
  background-color: rgba(249, 213, 144, 0.65);
  width: 610px;
  height: 394px;
}
.services-item {
  left: 739px;
  background-color: rgba(215, 188, 169, 0.65);
  opacity: 0.3;
}
.services-child1,
.services-inner {
  position: absolute;
  top: 1596px;
  left: 82px;
  background-color: #ddf3ff;
  width: 610px;
  height: 554px;
}
.services-child1 {
  left: 748px;
  background-color: #e2f8b5;
}
.adoption-awareness,
.medical-treatment1 {
  position: absolute;
  font-weight: 600;
  text-align: left;
}
.adoption-awareness {
  top: 433px;
  left: 852px;
  display: inline-block;
  width: 406px;
  height: 47px;
}
.medical-treatment1 {
  top: 439px;
  left: 219px;
}
.rescue-injured {
  margin: 0;
}
.rescue-injured-container {
  position: absolute;
  top: 1652px;
  left: 148px;
  font-weight: 600;
  display: inline-block;
  width: 477px;
  height: 166px;
}
.rehabilitation-centre2 {
  position: absolute;
  top: 1653px;
  left: 861px;
  font-weight: 600;
  text-align: left;
}
.wsa-aims-towards {
  position: absolute;
  top: 545px;
  left: 163px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 455px;
}
.we-often-come-container {
  top: 1829px;
  left: 131px;
  width: 535px;
  height: 222px;
}
.rehabs-cater-to,
.we-often-come-container,
.wsa-looks-forward-container {
  position: absolute;
  font-size: var(--font-size-13xl);
  display: inline-block;
}
.wsa-looks-forward-container {
  top: 531px;
  left: 841px;
  width: 405px;
  height: 150px;
}
.rehabs-cater-to {
  top: 1734px;
  left: 861px;
  width: 389px;
}
.icon1 {
  position: absolute;
  top: 832px;
  left: 180px;
  width: 1080px;
  height: 722px;
  object-fit: cover;
  opacity: 0;
}
.icon1.animate {
  animation: 3s ease 0s 1 normal forwards fade-in;
}
.nav-buttons-child5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-midnightblue-100);
  width: 1440px;
  height: 219.88px;
}
.logo-icon7 {
  position: absolute;
  top: 13px;
  left: 52.45px;
  border-radius: var(--br-481xl);
  width: 188.45px;
  height: 188px;
  object-fit: cover;
}
.about-us7,
.contact-us9,
.donate8,
.home7,
.services8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 180.87px;
  left: 1267.04px;
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-family: var(--font-outfit);
  color: var(--color-ghostwhite);
  text-align: center;
  display: inline-block;
  width: 107.51px;
  height: 29.55px;
}
.about-us7,
.contact-us9,
.home7,
.services8 {
  left: 1075.05px;
  width: 159.99px;
}
.about-us7,
.home7,
.services8 {
  left: 787.07px;
  width: 120.31px;
}
.about-us7,
.home7 {
  left: 629.64px;
  width: 127.99px;
}
.home7 {
  left: 528.53px;
  width: 78.08px;
}
.nav-buttons7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 219.88px;
}
.gallery7 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-outfit);
  color: var(--color-white);
  text-align: center;
}
.frame-child4 {
  position: relative;
  width: 31.66px;
  height: 13.05px;
}
.gallery-parent4 {
  position: absolute;
  height: 23.21%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 76.79%;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-smi);
  cursor: pointer;
}
.photos8 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-outfit);
  color: var(--color-black);
  text-align: center;
}
.frame-parent5,
.photos-wrapper5 {
  box-sizing: border-box;
  justify-content: flex-start;
}
.photos-wrapper5 {
  width: 154px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-3xs);
  align-items: center;
  cursor: pointer;
}
.frame-parent5 {
  position: absolute;
  height: 46.41%;
  width: 100%;
  top: 23.21%;
  right: 0;
  bottom: 30.38%;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  display: none;
  flex-direction: column;
  align-items: flex-start;
}
.component-17 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 166px;
  left: 927.88px;
  width: 154px;
  height: 237px;
}
.navbar7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 220px;
}
.we-save-animals7 {
  position: absolute;
  top: 326px;
  left: 447px;
}
.end-nav-child4,
.image-21-icon7 {
  position: absolute;
  top: 298px;
  left: 126.99px;
  width: 1236.01px;
  height: 7px;
}
.image-21-icon7 {
  top: 82px;
  left: 28px;
  border-radius: var(--br-481xl);
  width: 159.21px;
  height: 150px;
  object-fit: cover;
}
.follow-us7 {
  position: absolute;
  top: 46px;
  left: 5px;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
}
.image-24-icon7 {
  position: absolute;
  top: 26px;
  left: 299px;
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
}
.image-23-icon7 {
  top: 26px;
  left: 439px;
  border-radius: var(--br-8xs);
  width: 70px;
  height: 60px;
}
.image-22-icon7,
.image-23-icon7,
.image-25-icon7 {
  position: absolute;
  object-fit: cover;
  cursor: pointer;
}
.image-25-icon7 {
  top: 26px;
  left: 589px;
  border-radius: var(--br-8xs);
  width: 73.71px;
  height: 60px;
}
.image-22-icon7 {
  top: 16px;
  left: 743px;
  width: 70px;
  height: 70px;
}
.b7,
.f7,
.n7,
.w8 {
  position: absolute;
  top: 16px;
  left: 309px;
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
  display: none;
  width: 50px;
}
.b7,
.n7,
.w8 {
  left: 437px;
  width: 74px;
}
.b7,
.w8 {
  top: 20px;
  left: 590px;
  height: 66px;
}
.w8 {
  top: 11px;
  left: 746px;
  width: 65px;
  height: 70px;
}
.end-nav7,
.follow7 {
  position: absolute;
  top: 111px;
  left: 360px;
  width: 879px;
  height: 91px;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
}
.end-nav7 {
  top: 2271px;
  left: -3px;
  background-color: var(--color-midnightblue-100);
  width: 1443px;
  height: 448px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.services7 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2719px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-outfit);
}
